* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Isso faz o padding e a borda ficarem DENTRO dos 100% */
  
}



body{
    font-family: 'Source Sans 3', sans-serif !important;
    background-color:white; 
   
 
   
}



.top{
    display: flex;
    width:100%;
    justify-content: space-around;
    background-color:white;
    position: fixed;
}




.top ul{display:flex;
        gap:20px;
        text-decoration: none;
       list-style:none;
       margin-top:0.5em;
       height:3vw;
     }
.top h1{font-size:clamp(1rem,1.8vw,8rem); 
         margin-top:1rem;}
.top h1 a{
    text-decoration: none;
    color:#333;;        
}

.top span{color:rgb(9, 178, 250);}
.top ul{margin-top:1.2rem;}
.top ul li a{text-decoration: none;
             color:rgb(0, 0, 0);
             align-items: center;
             justify-content: center;
             
             font-size:clamp(1rem,1.6vw,3rem);
             margin:0;}


.back-img{background-image:url(assets/img-fundo.jpg);
          background-position:center;
          background-size: cover;
          background-repeat: no-repeat;
          height:clamp(5rem,13vw,20vw);}
.solteiro-1 h1{text-align: center;
      line-height:2.5;
      font-size:clamp(1rem,3vw,8rem);               
       color:#333;
       margin-top:5vw;}
.solteiro-1 p{text-align: center;}

.solteiro-img{ 
          display: flex;
          flex-direction:row;
          justify-content: center;
          gap:0.5rem;
          margin-top:10vw;}
.solteiro-img img{max-width:25vw;
              min-width:10vw;
              
            
            
            
            }
.list {display: flex;
       gap:clamp(1.7rem,5vw,6rem);  ;
      align-items: center;
      justify-content: center;
      margin-top:4vw;; 
      line-height:2;
      color:#333;
     font-size:clamp(0.5rem,1vw,1rem);  
      }



.info{      font-size:clamp(1rem,1.2vw,4rem); 
            text-align: center;
            margin-top:10vw;
            color:#333;}
.li-style{margin-bottom:4vw;
            font-size:clamp(0.5rem,1.3vw,1rem); 

}

        
.contato{
          background-color: aqua;
          background-color: rgb(37, 124, 110);
          margin-top:2vw;
          display: flex;
          flex-direction: row;
          justify-content: center;
          gap:clamp(1rem,2vw,3rem);
          align-items: center;
          font-size:clamp(0.5rem,1vw,4rem);
          padding-bottom:2vw;
        
          

                            }

.contato img{ 
             
             position: relative;
             top:1vw;  
             min-width:0.5rem;}
.contato p{position: relative;
           top:1vw;
           
           color:white;}
.contato h1{color:white;
           font-size:clamp(0.6rem,1.5vw,4rem);
          width:15vw;
         position: relative;
           top:0.5rem;
           left:2vw; }



footer{background-color: rgb(37, 124, 110) ;
       min-height:1rem;
      position: relative;
       text-align: center;
      display: flex;
      justify-content: center;
      align-items:center;
      border-top:1px solid black;
      color: antiquewhite;
       font-size:clamp(0.5rem,1vw,4rem);}
