
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Isso faz o padding e a borda ficarem DENTRO dos 100% */
}
body {
    font-family: 'Source Sans 3', sans-serif !important;
    background-color:white; 
    
   
}
@media(max-width:650px){
        .center{display:flex;
        justify-content: center;
       align-items: center;
       flex-direction: column;
      
       width: 87% !important;
       line-height: 1.8!important;;
    
       color:rgb(236, 236, 236);
       text-shadow: -1px -1px 0  black;
       font-size:45px;
        font-size: clamp(1.2rem, 4vw, 2.5rem) !important;
       border:1px solid white;
       background-color: rgba(3, 252, 207, 0.356);}
.center p {
            font-size: clamp(0.8rem, 5vw, 2.5rem)!important ;}
      
.serviços{display: flex;
           flex-direction: row;
           flex-wrap: wrap;
           width: 100% !important;
           align-items: center;
           position:relative;
           justify-content: center;
           gap:5vw;
           
        }
    
.top ul{display:flex;
        gap:20px;
        text-decoration: none;
       list-style:none;
       display: flex;
       margin-top:1.4vw;
       height:3vw;
     }}
.center p {
            font-size: clamp(0.8rem, 5vw, 2.5rem) ;}



.top{
    display: flex;
    width:100%;
    justify-content: space-around;
    background-color: aliceblue;
    position: fixed;

}




.top ul{display:flex;
        gap:20px;
        text-decoration: none;
       list-style:none;
       display: flex;
       justify-content: center;
       align-items: center;
       height:3vw;
     }
.top h1{font-size:clamp(1rem,1.8vw,8rem); 
         display: flex;
         justify-content: center;
         align-items: center;
         text-decoration: none;}
.top h1 a{text-decoration: none;
          color:black;}
.top span{color:rgb(9, 178, 250);}
.top ul{display: flex;
        justify-content: center;
         }
.top ul li a{text-decoration: none;
             color:rgb(0, 0, 0);
              
             font-size:clamp(0.8rem,1.6vw,3rem);
            }
                          
 main{background-image: url(/assets/img-fundo.jpg);
        background-size:cover;
        background-position:center;
        border:2px solid rgba(15, 184, 245, 0.592);
        height:50vw;
        border-bottom:80px;
        font-family: 'Source Sans 3',sans-serif;
        font-size:clamp(0.5rem,1vw,4rem);
        min-height:20vh;
        display:flex;
        justify-content:center;
        align-items: center;}
.center{display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width:650px;
        margin-top:6vw;
        line-height:100px;
        color:rgb(236, 236, 236);
        text-shadow: -1px -1px 0  black;
        font-size:clamp(1rem,1.6vw,5rem);
       border:1px solid white;
       background-color: rgba(3, 252, 206, 0.573);
       font-family:"Comic Sans","Sans Serif"}
.center p{font-size:clamp(1rem,2vw,5rem);
          font-family:'Source Sans 3','sans-serif';}
.center strong{font-weight: 400;}
.text-c h3{ font-size:clamp(1rem,2vw,5rem);
            text-align: center;
            color:rgb(94, 94, 94);
            margin:4vw 0 4vw 0;
            font-family: 'Source Sans 3','sans-serif';}
.text-c p{font-size:clamp(0.5rem,1vw,4rem);
            text-align: center;
             color:rgb(74, 73, 73);
            padding-bottom:5px;
              font-family: 'source sans 3','sans-serif';}





            
            

.art{display:flex;
          flex-direction:row;
          margin-top:5vw;
          gap:20px;
       
          align-items: stretch;
          justify-content: center;
       }

.solteiro, .casal, .familia {
             
      min-width: 20px; 
      max-width: 400px;  
      text-align: center;
      flex:1;
      flex-wrap: wrap;
    
      color:rgb(74, 73, 73);
      border-bottom:7px solid rgba(3, 252, 207, 0.356);
      margin-top:10px;
    }
.solteiro p, .casal p, .familia p{margin-bottom:10px;
                                     font-family: 'Source Sans 3','sans-serif';
       font-size:clamp(0.8rem,1.3vw,4rem);
       font-weight:bold;}
.art img {
    width: 100%;
    height: 200px;    
    object-fit: cover; 
    margin-bottom:10px;
}
main{flex:1;}
main h3 p{text-align: center;
    
         font-size:clamp(0.5rem,1vw,4rem);}
.rota{text-align:center;
     line-height:3;
         color:rgb(74, 73, 73); 
         margin-top:2vw;}
.sec-1{display: flex;
             flex-direction: row;
        font-family: 'Source Sans 3','sans-serif';
       font-size:clamp(0.8rem,1vw,4rem);
        
     
     
       align-items: center;
       text-align: end;
      
         color:rgb(74, 73, 73);
        }
.sec-1 img{min-width:1.5rem;
              min-height:1.5rem;
              width:10vw;
              height:12vw;}
.sec-1 h1{
       font-size:clamp(0.5rem,1vw,4rem);
        margin-bottom:1vw;
}

.sec-1 p{
          font-size:clamp(0.5rem,1vw,4rem);
         width:16.9em;}
.sec-1 div{display: flex;
           text-align: start;
           flex-direction: column;
            justify-content:space-around;}
.about{margin-top:2vw;
       color:rgb(74, 73, 73); 
        font-size:clamp(0.5rem,1vw,4rem);
        text-align: center;
        line-height:3.0;}
.serviços{display: flex;
           flex-direction: row;
           flex-wrap: wrap;
           width:70vw;
           align-items: center;
        
          margin:3vw auto;
           justify-content: center;
           gap:6vw;
           
        }
.map{margin-top:4vw;}

.contato{
          background-color: aqua;
          background-color: rgb(37, 124, 110);
          margin-top:2vw;
          display: flex;
          flex-direction: row;
          justify-content: center;
          gap:clamp(1rem,2vw,3rem);
          align-items: center;
          font-size:clamp(0.5rem,1vw,4rem);
          padding-bottom:2vw;
        
          

                            }

.contato img{ 
             
             
             min-width:0.5rem;}
.contato p{position: relative;
           top:1vw;
           
           color:white;}
.contato h1{color:white;
           font-size:clamp(0.4rem,1.5vw,4rem);
          width:15vw;
     
           top:0.5rem;
           left:2vw; }



footer{background-color: rgb(37, 124, 110) ;
       height:8%;
  
       text-align: center;
      display: flex;
      justify-content: center;
      align-items:center;
      border-top:1px solid black;
      color: antiquewhite;
       font-size:clamp(0.5rem,1vw,4rem);}


    .divisoria{background-color: rgb(37, 124, 110)  ;
          text-align: center;
          color:grey;
        
     }



